@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --left: 40px;
}

body {
    margin: 0;
    padding: 0;
    color: #eee;
    background-color: #282c37;
    overflow: hidden;
    font-family: "Fredoka", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.wrapper {
    display: flex;
}

.image-container {
    height: 100vh;
    position: relative;
}

.image-container>div {
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: black;
    opacity: 0.4;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container>div>img {
    height: 100%;
}

.image-container>div>p {
    color: white;
    font-family: "Permanent Marker", sans-serif;
    font-weight: bolder;
    font-size: 70px;
}

.image-container>span {
    position: absolute;
    opacity: 0.25;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 97%;
    left: 40%;
}

img[alt="a nice background"] {
    object-fit: contain;
    height: 100%;
    width: auto;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.hero {
    margin-left: var(--left);
    width: 56%;
    font-size: 1.3rem;
    text-wrap: wrap;
}

form {
    /* border: 1px solid white; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

form>h3 {
    margin-left: var(--left);
    margin-bottom: 0;
}

form>p {
    margin-left: var(--left);
    margin-top: 0;
}

form>div {
    width: 900px;
    margin-left: var(--left);
    margin-bottom: 20px;
}

.user_name,
.contact_info,
.security {
    display: flex;
    gap: 5rem;
}

.user_name>div>label+input,
.contact_info>div>label+input,
.security>div>label+input {
    display: block;
}

input {
    width: 300px;
    padding: 5px;
    height: 20px;
    font-size: 1rem;
    color: white;
    background-color: #566270;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 4px solid #A593E0;
}

input[type="email"]:invalid {
    border-bottom: 4px solid red;
}

.error_message {
    font-size: 1rem;
    color: red;
}

input[type="email"]:invalid+span::after {
    font-size: 1rem;
    color: red;
    content: "*Please enter a valid email address";
}

input:valid::after {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 4px solid #75D701;
}

input:hover,
input:focus {
    background-color: #566295;
}

.buttons-and-links {
    margin-left: var(--left);
    width: fit-content;
}

button {
    width: 11rem;
    height: 2.7rem;
    border-radius: 10px;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #A593E0;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: white;
    color: #A593E0;
    border: 3px solid #A593E0;
}

a {
    text-decoration: none;
    color: #A593E0;
    font-weight: bold;
}

a:hover {
    color: white;
}